/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    background: url(./images/pexels-lukas-628241.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.dark-mode {
    background: url(./images/black4.jpg) no-repeat center center fixed;
    background-size: cover;
}

.dark-mode .logo-h1,
.dark-mode .logo-img {
    color: white;
}

.container {
    max-width: 960px;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    color: rgb(56 57 60);
    padding-bottom: 10px;
}

.header h1 {
    font-family: 'Merienda', cursive;
    font-weight: 700;
    font-size: 40px;
    color: rgb(56 57 60);
}

.toggle-btn {
    font-family: 'Merienda', cursive;
    background-color: #fff;
    color: rgb(56 57 60);
    border: 4px solid rgb(56 57 60);
    border-radius: 10px;
    padding: 4px 6px;
    font-weight: bold;
    transition: all 300ms ease-in-out;
}

.toggle-btn:hover {
    cursor: pointer;
    background-color: rgb(56 57 60);
    color: #fff;
}

.notes-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
    background-color: #67d7cc;
}

textarea {
    border: none;
    resize: none;
    background-color: #67d7cc;
}

textarea:focus {
    outline: none;
}

.save-btn {
    background-color: #e1e1e1;
    border: 3px solid #e1e1e1;
    border-radius: 10px;
    padding: 4px 8px;
    transition: all ease 300ms;
}

.save-btn:hover {
    cursor: pointer;
    background-color: white;
    border: 3px solid #1d7c73;
}

.note {
    background-color: #fef68a;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.note span {
    font-family: 'Kalam', cursive;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-footer small {
    font-family: 'Kalam', cursive;
}

.delete-icon {
    transition: all 300ms ease;
}

.delete-icon:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.35);
}

.search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1.5em;
}

.search input {
    width: 100%;
    border: none;
    background-color: #fff;
}

.search input:focus {
    outline: none;
}